*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

.text{
    text-align: center;
    color: wheat;
    
}

.text h1 {
    font-size: 50px;
}

.bg{
background-image: url(images/images\ \(2\).jpeg);
background-repeat: no-repeat;
background-size: cover;
height: 100vh;
width: 100%;
padding-top: 100px;
}
.container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    --bs-gutter-x: 0rem !important;
}
.main{
padding: 30px;    
 width: 300px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    margin: 0 auto ;
    border: 1px black solid ;
    border-radius: 20px ;
background-color: #92afdb61;
}